@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --theme-default: #e76f0a;
    --top-header-color: #1a9400;
    --dashboard-theme-color: #4c4c4c;
  }
}

/* Apply custom scrollbar styling */
::-webkit-scrollbar {
  width: 10px; /* Width of the vertical scrollbar */
  height: 10px; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Round edges */
  background-clip: padding-box; /* Prevent overlapping */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Track color */
  border-radius: 5px; /* Round edges for the track */
}

/* Hover effect for the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker color when hovered */
}

/* Firefox-specific scrollbar styles */
* {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: darkorange white; /* Thumb color and track color */
}

/* Hide spinners in Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide spinners in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}










.custom-button {
 /* Orange */
  animation: none;
}

/* Keyframes for the hover animation */
@keyframes hoverAnimation {
  0% {
    background-color: #1630f9; /* Orange */
    color: white;
  }
  100% {
    background-color: white;
    color: rgba(249, 115, 22, 0.5); /* Orange with 50% opacity */
  }
}

/* Hover state */
.custom-button:hover {
  animation: hoverAnimation 0.3s backwards; /* Apply animation on hover */
}
